# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
centos-ssh-root-jdk/jdk-8u191-linux-x64.tar.gz
hadoop/centos-ssh-root-jdk-hadoop/hadoop-2.9.2.tar.gz
